<table mdbTable striped="true">
  <thead>
    <tr>
      <th *ngFor="let head of arrayElements" scope="col">{{head}}</th>
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let dataPerson of getPersona(); let i = index ">
      <th scope="row">{{i}}</th>
      <td>{{dataPerson.nombre}}</td>
      <td>{{dataPerson.apellidos}}</td>
      <td>{{dataPerson.edad}}</td>
      <td>{{dataPerson.dni}}</td>
      <td>{{dataPerson.cumple}}</td>
      <td>{{dataPerson.colorFavorito}}</td>
      <td>{{dataPerson.sexo}}</td>
      <td>{{dataPerson.notas}}</td>

    </tr>

  </tbody>

</table>
