<table *ngIf="this.agendaServicio.agenda.length!=0" mdbTable striped="true">
  <thead>
    <tr>
      <th *ngFor="let head of arrayElements" scope="col">{{head}}</th>
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let dataPerson of getPersona(); let i = index " id="{{dataPerson.id}}">
      <th scope="row">{{dataPerson.id + 1}}</th>
      <td>{{dataPerson.nombre}}</td>
      <td>{{dataPerson.apellidos}}</td>
      <td>{{dataPerson.edad}}</td>
      <td>{{dataPerson.dni}}</td>
      <td>{{dataPerson.cumple | date:'dd/MM/yyyy'}}</td>
      <td>{{dataPerson.colorFavorito}}</td>
      <td>{{dataPerson.sexo}}</td>
      <td>{{dataPerson.notas}}</td>
      <td>
        <a routerLink="/edit-person"> <button (click)="editPerson($event)">Modificar</button></a>
      </td>
      <td>
        <a> <button (click)="deletePerson(dataPerson.id)">Borrar</button></a>
      </td>


    </tr>

  </tbody>

</table>
<div *ngIf="this.agendaServicio.agenda.length==0">La lista esta vacia.Para añadir una persona pulse <a
    [routerLink]="['/add-person']">aquí</a>
</div>
