<form novalidate [formGroup]="person" (ngSubmit)="onSubmit()">
  <div class="mat-display">
    <mat-form-field floatLabel="auto">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" type="text" required>
      <mat-error *ngIf="handleError('nombre', 'required')">
        El campo <strong>Nombre</strong> esta vacío
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field floatLabel="auto">
      <mat-label>Apellidos</mat-label>
      <input matInput formControlName="apellidos" type="text" required>
      <mat-error *ngIf="handleError('apellidos', 'required')">
        El campo <strong>Apellidos</strong> esta vacío
      </mat-error>
    </mat-form-field>
  </div>
  <mat-form-field floatLabel="auto">
    <mat-label>Edad</mat-label>
    <input max="125" min="0" matInput formControlName="edad" type="number" required>
    <mat-error *ngIf="handleError('edad', 'required')">
      El campo <strong>Edad</strong> esta vacío
    </mat-error>
  </mat-form-field>
  <div>
    <mat-form-field floatLabel="auto">
      <mat-label>D.N.I</mat-label>
      <input matInput formControlName="dni" type="text" required>
      <mat-error *ngIf="handleError('dni', 'required')">
        El campo <strong>D.N.I</strong> esta vacío
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field float="auto">
      <mat-label>Fecha de Nacimiento</mat-label>
      <input matInput formControlName="cumple" required [matDatepicker]="myDatePicker">
      <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #myDatePicker></mat-datepicker>
      <mat-error *ngIf="handleError('cumple', 'required')">
        El campo <strong>Fecha de Nacimiento</strong> esta vacío
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field floatLabel="auto">
      <mat-label>Color Favorito</mat-label>
      <input matInput formControlName="colorFavorito" type="text" required>
      <mat-error *ngIf="handleError('colorFavorito', 'required')">
        El campo <strong>Color Favorito</strong> esta vacío
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field floatLabel="auto">
      <mat-label>Sexo</mat-label>
      <mat-select formControlName="sexo" required>
        <mat-option value="Hombre">Hombre</mat-option>
        <mat-option value="Mujer">Mujer</mat-option>
        <mat-option value="Otro">Otro</mat-option>
        <mat-option value="No Especificado">No especificado</mat-option>
      </mat-select>
      <mat-error *ngIf="handleError('sexo', 'required')">
        Elija una opción
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field floatLabel="auto">
      <mat-label>Notas</mat-label>
      <textarea matInput formControlName="notas"></textarea>
    </mat-form-field>
  </div>
  <mat-card>
    <div class="full-wrapper button-wrapper">
      <div class="button-wrapper">

        <button mat-flat-button color="warn">Submit</button>

      </div>
    </div>
  </mat-card>
</form>
